html,body{
    margin: 0;
    height: 100%;
    font-family:"Lato",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8em;
}
.pimg1{
    background-image: url(iimg1.jpg);
    min-height: 100%;
   
}

.pimg2{
    background-image: url(iimg2.jpg);
    min-height: 600px;
}

.pimg3{
    background-image: url(iimg3.jpg);
    min-height: 600px;
}

.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.imgtxt{
    position: absolute;
    top: 55%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
}
.bgtxt{
    background-color: #313534;
    color: white;
    padding: 20px;

}

.sec{
    padding: 50px 80px;
    text-align: center;
    text-align: justify;
}
.sec h2{
    text-align: center;
}
.seclight{
    background-color: #f4f4f4;
    color: #666
}
.secdark{
    background-color:#282e34 ;
    color: #ddd;
}

.imgtxt2{
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
}
